name: "Build with Nix"
on:
  push:
    paths-ignore:
      - '**/*.nix'
      - '**/*.fish'
      - '**/*.sh'
    branches:
      - nix

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: soursushi360/todoapp

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }} 
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@v16
        with:
          name: t35todoapp
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
      - name: Build image with Nix and load into Docker
        run: nix run .#docker | docker image load
      - name: Tag and push image to registry
        run: |
          docker image tag ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.sha }} ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:edge
          docker push -a ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

